<body>
    <div style="margin-left: 15px; margin-right: 20px;">
        <full-calendar
            id="calendar"
            defaultView="dayGridMonth"
            [plugins]="calendarPlugins"
            [weekends]="false"
            [events]="calendarEvents"
            [droppable]="true"
            [editable]="true"
            [selectable]="true"
            (dateClick)="handleDateClick($event)"
            [locale]="esLocale"
            [height]="700"
            [eventLimit]="true"
            (eventClick)="handleEventClick($event)"
        ></full-calendar>
    </div>
    <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="margin: 160px auto;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                  <label id="fecha"></label></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClickCerrar()"  style="margin-top: -20px;">
                <fa-icon [icon]="['fas','times']" size="1x"></fa-icon>  
              </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="width: 5px;"></td>
                        <td>
                            <span>Titulo: </span>
                        </td>
                        <td style="width: 100%">
                            <input type="text" class="form-control" id="tituloCalendario" placeholder="Titulo" style="width: 100%">
                        </td>
                    </tr>
                </table>
                <br>
                <table>
                    <tr>
                        <td style="width: 5px;"></td>
                        <td>
                            <span>Peluquero: </span>
                        </td>
                        <td style="width: 68%">
                            <select class="form-control" id="Peluquero" style="width: 80%">
                                <option>Peluquero 1</option>
                                <option>Peluquero 2</option>
                                <option>Peluquero 3</option>
                                <option>Peluquero 4</option>
                                <option>Peluquero 5</option>
                            </select>
                        </td>
                        <td style="width: 5px;"></td>
                        <td>
                            <span>Hora: </span>
                        </td>
                        <td>
                            <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" style="width: 85px;" class="form-control">
                            <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onGuardarEvento()" >Guardar</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClickCerrar()">Close</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="popupEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="margin: 160px auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popEvento">
                        <label id="TituloEvento"></label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClickCerrarEvento()"  style="margin-top: -20px;">
                        <fa-icon [icon]="['fas','times']" size="1x"></fa-icon>
                    </button>
                </div>
                <div>
                    <table style="margin-top: 2%;margin-bottom: 2%;margin-left: 2%;">
                        <tr>
                            <td style="width: 15px"></td>
                            <td style="width: 80%">
                                <label id="txtBody" style="width: 80%"></label>
                            </td>
                            <td style="width: 20%">
                                <button style="background-color: transparent;border: none;" (click)="onEliminar($event)">
                                    <fa-icon [icon]="['fas','trash-alt']" size="2x" ></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClickCerrarEvento()">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

